body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.masonryMedia.media{ overflow: hidden;
  position: relative;
  width: 100%;  
  background: #000;
}
.masonryMedia.media img, .masonryMedia .media-body h2{
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.masonryMedia.media:hover img {
  opacity: .5;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.masonryMedia .media-body {
  /* display: none; */
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}
.masonryMedia  img{
  opacity: .9;
}
.masonryMedia .media-body p, .masonryMedia .media-body button {
display: none;
}


.masonryMedia .media-body h2, .masonryMedia .media-body p{
  color:#fff;
  text-align: center;
}


.masonryMedia.media:hover .media-body h2, .masonryMedia.media:hover .media-body p, .masonryMedia.media:hover .media-body button {
  display: block;
}
.img100{
  width: 100%;
}
 .twhite{color:#fff}
 a.twhite{color:rgb(179, 179, 179)}
 a.twhite:hover{color:#fff}
 
 .masonryMedia .media-body button {
  /* display: flex;
  margin: 8px auto!important;     */
}